body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; }

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

h1.header {
    font-size: 64px;
}

table.fridge_foods {
    width: 500px;
    text-align: left;
}

table.fridge_foods tr th {
}
table.fridge_foods tr.good th {
    background-color: #0a0;
    color: #fff;
}
table.fridge_foods tr.expired th {
    background-color: #f00;
    color: #fff;
}
table.fridge_foods tr.near th {
    background-color: #E6B426;
    color: #fff;
}

.big_button {
}

.big_button a {
    display: block;
    width: 200px;
    height: 50px;
    background-color: #0a0;
    font-size: 32px;
    color: #fff;
    padding-top: 25px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
}

.big_button a:visited {
    color: #fff;
}
.big_button a:hover {
    color: #fff;
    background-color: #0f0;
}

