
<h1>Expiry List</h1>

<table class="fridge_foods">
  <tr class="expired">
    <th>Item</th>
    <th></th>
  </tr>
<% @shopping_lists.find_all{|f| f.user_id == session[:user_id]  }.each do |f| %>
  <tr>
    <td><%= f.desc %></td>
    <td><%= link_to 'Delete', f, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
  
</table>

<br />
<div class="big_button">
<%= link_to 'Add item', new_shopping_list_path %>
</div>


